.input{
    padding-top: 1rem;
}

.main-temp{
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.temp-font{
    background-color: aquamarine;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border: solid red 1px;
}

.tenDayBox{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.tenDayForcast{
    height: 220px;
    width: 85%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: solid red 1px;
}

h2{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    align-self: center;
    margin: 0;
}

.TempBlock{
    border: black 1px solid;
    display: flex;
    justify-content: space-between;
}

h4{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    margin: 0;
    font-weight: 300;
    margin-left: 8px;
}

h3{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    margin: 0;
    padding-right: 10px;
    padding-top: 3px;
    font-weight: 900;
}

.tempFormat{
    margin-left: 20px;
}

h5{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 5px; 
}

.desc, .desc2, .desc3, .desc4, .desc5{
    background: transparent;
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-left: 2px;
    margin-right: 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highLowBlock{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    height: 40px;
}

h6{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 200; 
}

img{
    width: 30px;
    height: 30px;
    margin-top: 3px;
}